#centerMe {
    text-align: center;
}

.form-text {
    text-align: right;
}

.center {
    text-align: center;
}

#centerMe {
    text-align: center;
}

#centerMe {
    text-align: center;
}

.Col-md- {
    text-align: center;
}